import(methods)
import(futile.logger)
importFrom("jsonlite", "toJSON", "fromJSON", "unbox","base64_enc","base64_dec",
           "serializeJSON", "unserializeJSON")
importFrom("utils", "limitedLabels")
importFrom("mongolite", "mongo")


export(P4Message)
exportClasses(P4Message)
export(m_id,"m_id<-",app,uid,
       context,"context<-",
       timestamp,"timestamp<-",
       sender,mess,details,all.equal.P4Message,
       processed, markAsProcessed, processingError, markAsError,
       makeDBuri)
S3method(all.equal,P4Message,all.equal.P4Message)
exportMethods(m_id,"m_id<-",app,uid,context,"context<-",
              timestamp,"timestamp<-",sender,mess,details,
              toString,show, processed, processingError)

export(as.json,as.jlist,
       parseMessage,parseData,unparseData,parseSimpleData,
       unboxer, ununboxer, cleanMessageJlist, parseObject,
       parse.jlist)
exportMethods(as.json,as.jlist,parse.jlist)

exportClasses(MongoRec, fake_mongo, MongoDB)
export(saveRec, buildJQuery, buildJQterm,
       getOneRec, getManyRecs, fake_mongo)


export(receiveMessage,isListener,ListenerSet,notifyListeners,
       InjectionListener,UpdateListener,UpsertListener,CaptureListener,
       TableListener, buildListener,listenerName, resetListeners)
exportClasses(ListenerSet,NullListenerSet,MongoDB,CaptureListener,
       InjectionListener,
       UpdateListener,UpsertListener,TableListener)
exportMethods(isListener,receiveMessage,notifyListeners,listenerName,
              resetListeners)

export(withFlogging)








