import(methods)
import(futile.logger)
importFrom("mongolite","mongo")
importFrom("jsonlite", "toJSON", "fromJSON", "unbox","base64_enc","base64_dec",
           "serializeJSON", "unserializeJSON")
importFrom("utils", "limitedLabels")


export(P4Message)
exportClasses(P4Message)
export(app,uid,context,timestamp,sender,mess,details)
exportMethods(app,uid,context,timestamp,sender,mess,details,
              toString,show)

export(as.json,as.jlist,saveRec,buildJQuery,buildJQterm,
       parseMessage,parseData,unparseData,parseSimpleData,
       unboxer,ununboxer,
       getOneRec,getManyRecs)
exportMethods(as.json,as.jlist)

export(receiveMessage,isListener,ListenerSet,notifyListeners)
exportClasses(ListenerSet,MongoDB)
exportMethods(isListener,receiveMessage,notifyListeners)

export(withFlogging)








