import(methods)
import(Peanut)
import(CPTtools)
## Use explict imports from RNetica so we can keep track of dependencies.
#import(RNetica)
importFrom("mongolite","mongo")
importFrom("jsonlite", "toJSON", "fromJSON", "unbox","base64_enc","base64_dec")


export(P4Message,app,uid,context,timestamp,details,as.json)
exportClasses(P4Message)
exportMethods(app,uid,context,timestamp,details,as.json)

#export(EvidenceSet)
#exportClasses(EvidenceSet)
#exportMethods(app,uid,context,timestamp,mess,details)







