import(methods)
importFrom("mongolite","mongo")
importFrom("jsonlite", "toJSON", "fromJSON", "unbox","base64_enc","base64_dec")


export(P4Message)
exportClasses(P4Message)
export(app,uid,context,timestamp,sender,mess,details)
exportMethods(app,uid,context,timestamp,sender,mess,details)

export(as.json,as.jlist,saveRec,buildJQuery,buildJQterm,
       parseMessage,parseData,unbox
       getOneRec,getManyRecs)
exportMethods(as.json,as.jlist)










